<h1>{{title}}</h1>

<section>
  <h2 class = "center">Showing results for: {{searchDetails}}</h2>
  <ul>
    {{#each activities}}
      <li>
        <a href="/activity/{{this.id}}">{{this.name}}</a>
      </li>
    {{else}}
      <p class="show-not-found">We're sorry, but no results were found for
        {{searchDetails}}.</p>
    {{/each}}
  </ul>

  <a href="/">Make Another Search!</a>
</section>