<h1>{{title}}</h1>

<section>
  <h2 class = "center">Showing results for: {{searchDetails}}</h2>
  <ul>
    {{#each activities}}
      <li>
        <a href="/activity/{{this.id}}">
          <div class="entry">
            <img src={{this.image_url}}>
            <span>{{this.name}}</span>
          </div>
        </a>
      </li>
    {{else}}
      <p class="error">We're sorry, but no results were found for
        {{searchDetails}}.</p>
    {{/each}}
  </ul>

  <a href="/">Make Another Search!</a>
</section>