<article>
  <h1>
    {{title}}
  </h1>

  <img alt="{{title}}" src={{show.image_url}} class="center" />

  <dl>
    <dt>Phone Number</dt>
    <dd>
      {{#if show.display_phone}}
        {{show.display_phone}}
      {{else}}
        <p>N/A</p>
      {{/if}}
    </dd>

    <dt>Categories</dt>
    <dd>
      {{#if show.categories.length}}
        <ul>
          {{#each show.categories}}
            <li>{{this.title}}</li>
          {{/each}}
        </ul>
      {{else}}
        <p>N/A</p>
      {{/if}}
    </dd>

    <dt>Rating</dt>
    <dd>
      {{#if show.rating}}
        {{show.rating}}
      {{else}}
        <p>N/A</p>
      {{/if}}
    </dd>

    <dt>Location</dt>
    <dd>
      {{#if show.location}}
        {{show.location}}
      {{else}}
        <p>N/A</p>
      {{/if}}
    </dd>

    <dt>Photos</dt>
    <dd>
      {{#if show.photos.length}}
        <ul>
          {{#each show.photos}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{else}}
        <p>N/A</p>
      {{/if}}
    </dd>

    <dt>Price</dt>
    <dd>
      {{#if show.price}}
        {{show.price}}
      {{else}}
        <p>N/A</p>
      {{/if}}
    </dd>
    
  </dl>
</article>